<div id="template_form">
	<p class="back_link"><%= link_to '&laquo; Back to design', account_design_path(@account, @design) %></p>
	<% form_for(@template_file, :url => account_design_template_file_path(@account, @design, @template_file) ) do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => "form", :locals => { :f => f } %>
	<% end %>
</div>