<div class="small_top_button clearfix"><a href="#" class="close_window" onclick="page_overlay.end();return false;"> <img src="/images/window_x.png" /> </a></div>
<div id="design_import" class="clearfix">
	<h1>Design successfully imported!</h1>
	<p>You now have a full copy of this design to whatever you'd like with.</p>
</div>