<div id="articles" class="loaded_articles article_options clearfix">
	<p>
		<% if params[:page]&&params[:page].to_i>1 %>
			<%= button_link_to_remote "&laquo;", :url => account_article_options_url(@account, :page => params[:page].to_i-1), :after => "$(this).next().setStyle({visibility: 'visible'});$('articles_list').addClassName('transparent');", :method => :get, :html => { :class=>'large pill' } %>
		<% end %>
		<img src="/images/loading_small_white.gif" style="visibility: hidden; margin: 2px; position: relative; top: 5px;"/>
		<% article_page = params[:page] || 1 -%>
		<%= button_link_to_remote "&raquo;", :url => account_article_options_url(@account, :page => article_page.to_i+1), :after => "$(this).previous().setStyle({visibility: 'visible'});$('articles_list').addClassName('transparent');", :method => :get, :html => { :class=>'large pill' } %>
	</p>
	<ol id="articles_list">
		<%= render :partial => 'article', :collection => @articles %>
	</ol>
</div>