<div class="comment">
	<div class="comment-meta">
		<%= gravatar_for comment unless comment.email.nil? %>
	</div>

	<div class="comment-body">
		<%= comment.name %> <%= time_ago_in_words(comment.created_at) %> ago:<br/>
		<%= comment.body %> <br/>
	</div>
</div>