<fb:profile-pic uid="<%= comment.fb_user_id %>" facebook-logo="true" linked="true" width="40" height="40"></fb:profile-pic>
<fb:name uid="<%= comment.fb_user_id %>"></fb:name>
<p><%= comment.body %></p>