	<div class="span-4 last">
	    <div class="span-2">
			{% include "layouts/whats_hot" %}

	    </div>
	    <div class="span-2 last">
			{% include "layouts/eventbox" %}
		</div>
	
	</div>

	
	<div id="sidebar-featured" class="">
	</div>
	
	<div id="ad-large-rectangle" class="ad span-4">
	    <div class="col-4-5 col side-ad">
		</div>
	</div>
	

	<div class="span-4">

		<div class="span-2">
		</div>

	<div class="span-2 last">
	</div>
		
	<div style="height: 300px;" class="clear">
		&nbsp;
	</div>

	</div>
		
