.push-0 {
	margin-left: 20px;
}

body {
	background: #222;
	margin: 0;
	background: transparent url(../images/bg.png) repeat-y scroll center top;
}

.container {
/*	padding: 0 50px;*/
	background: #fff;
}

a, a:visited {
	font-weight: bold;
	color: #222;
	text-decoration: none;
}
a:hover {
	background-color: #ddd;
}

ul {
	list-style-type: square;
}

h1, h2, h3, h4 {
	font-weight: 700;
	letter-spacing: -.05em;
	line-height: 1em;
}

.ad {
	text-align: center;
	margin: 0 0 1.5em 0;
	padding-top: 10px;
/*	margin-left: -4px;*/
}
#ad-leaderboard {
/*	text-align: left;*/
}

#footer {
	margin-top: 10px;
	background: #333;
}
#footer * {
	color: white;
}
#footer img {
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
}

#sidebar {
	padding-top: 10px;
	border-top: 4px solid #8e8e8e;
	border-bottom: 4px solid #8e8e8e;	
	background: transparent url(../images/sidebar-bg.png) repeat-y;
}

#sidebar .span-2 {
	width: 180px;
	margin-right: 10px;
}

#sidebar .last {
	padding-left: 0px;
	margin-right: 0px;
	width: 170px;
}

#sidebar .span-4 {
	padding-left: 10px;
	width: 360px;
	padding-right: 10px;
}


#sidebar div {
}


#masthead {
	margin-bottom: 2em;
}

#menu img, #menu a{
	margin: 0px;
	padding: 0px;	
	display: inline;
}

.section-title, .section-title a {
	text-transform: uppercase;
	color: #59a2f4 !important;
}
.blog-title a {
	text-transform: uppercase;
	color: #a62b30 !important;
}

.article-meta {
	text-align: left;
/*	padding-left: 20px;*/
	background: transparent url(../images/dot.gif) repeat-x scroll left center;
}
.article-meta-elements {
	background: #fff;
}

.article-body {
	font-size: 11pt;
	line-height: 1.6;
}

.article-footer {
	background: #eee;
}

.dropcap:first-letter {
	font-size: 400%;
	padding-right: 5px;
	padding-top: 5px;
	font-weight: bold; float: left }

}

.subtitle {
	font-weight: normal;
}

#sidebar .article-meta-elements, .featured-horizontal .article-meta-elements {
	background: #333;
}
.article-meta .comments {
	background: url(../images/chat_grey2.gif) no-repeat scroll left center;
	margin-left:0px;
	padding-left:14px;
	text-transform: uppercase;
	color: #666;
	margin-right: 5px;
}

.article-meta2 h2 {
	color: #666;
	line-height: 1em;
	font-weight: normal;
}
.article-meta2 {
	margin-bottom: 1em;
	margin-right: 200px;
	padding-bottom: .01em;
}
.dotted-border {
	background: transparent url(../images/dot.gif) repeat-x left bottom;	
}

.featured {
	padding: 10px 0;
/*	background: #222;*/
/*	border-left: 4px solid #999;
	border-right: 4px solid #999;	*/
/*	margin-left: -4px;*/
}

#hot {
/*	border-left: 4px solid #999;
	border-right: 4px solid #999;*/
/*	margin-left: -4px;	*/
/*	background: #222;	*/
}

.featured h3, .featured p, h3 {
	margin-bottom: 0px;
}
.featured, .featured h3, .featured-horizontal h3, .featured-horizontal h4, .featured h3 a, #sidebar a {
	color: white;
/*	margin-right: 10px;	*/
}
.featured img {
/*	margin-left: 10px;*/
}

.featured-vertical .article-meta {
}

.feature-horizontal {
	width: 590px !important;
}

#sidebar p, #sidebar li, #sidebar h3, #sidebar h2{
	color: #ccc;
}
.featured-image-box {
	height: 130px;
	overflow: hidden;
}


.featured-horizontal {
	background: #333;
	padding: 10px 0;
}
.featured-horizontal img {
/*	margin-left: 10px;*/
}


.date {
	text-transform: uppercase;
	color: #666;
	letter-spacing: -.05em;
}

.section {
	margin-top: 1.5em;
}

.section-entry {
	margin-bottom: 1.5em;
}
.section-entry h2, .section-entry h3, .section-entry p {
	margin-bottom: .4em;
}


.search-result td {
	margin: 10px;
	padding: 15px 5px;
	vertical-align: top;
}

.pagination li, .pagination ul {
	list-style: none;
	display: inline;
}


.blog-preview ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}
.blog-preview li {
	display: block;
	margin: 0;
	padding: 0;
}
.blog-preview p {
	margin-top: 0;
	margin-bottom: 0;
}
.blog-preview li {
	margin-bottom: 1.5em;
}

.comment-meta {
/*	text-align: right;*/
}

.comment-odd {
	background: #eee;
}
.comment-even {
	background: #F9F9F9;
}

.comment {
	padding: 15px 0px;
}
.comment p {
	padding: 0 15px;
}
.comment-meta span {
	padding-left: 30px;
}



/**** tab **** */

#headlines ul {
/*	list-style: none;*/
}
#headlines li {
/*	display: inline;*/
}

.ui-tabs-hide { display: none; }

.ui-tabs-nav-item {display: none;}

/********************** menu ************* */
#section-menu
{
	clear: both;
padding: 1.5em 0;
}

#section-menu ul, #section-menu li
{
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

#section-menu a:link, #section-menu a:visited
{
float: left;
line-height: 14px;
font-weight: bold;
margin: 0 10px 4px 10px;
text-decoration: none;
padding-bottom: 2px;
border-bottom: 4px solid #fff;
}

#section-menu a:link#current, #section-menu a:visited#current, #section-menu a:hover
{
border-bottom: 4px solid #000;
padding-bottom: 2px;
background: transparent;
}

#section-menu a:hover { color: #000; }


/*********** tabs *****/

.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid #d3d3d3;
	bottom: -1px;
}
.ui-tabs-nav-item {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	border: 1px solid #d3d3d3;
	border-right: none;
}
.ui-tabs-nav-item a {
	list-style: none;
	float: left;
	padding: .5em 1.7em;
	color: #555555;
	background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-tabs-nav-item a:hover {
	background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	color: #212121;
}
.ui-tabs-selected {
	border-bottom-color: #ffffff;
}
.ui-tabs-selected a, .ui-tabs-selected a:hover {
	background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	color: #222222;
}
.ui-tabs-panel {
	clear:left;
/*	border: 1px solid #d3d3d3;*/
	background: #ffffff url(images/ffffff_40x100_textures_01_flat_0.png) 0 0 repeat-x;
	color: #222222;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}
