<a name="comments"></a>

<% if comments.size > 0 %>
	<h2>Comments</h2>
	<% for @comment in comments %>
		<% if @comment.class == FacebookComment %>
			<%= render :partial => "comments/facebook_comment", :locals => {:comment => @comment } %>
		<% else %>
			<%= render :partial => "comments/comment", :locals => {:comment => @comment } %>
		<% end %>
	<% end %>

<% end %>

<%= init_fb_connect "XFBML"%>

<div id="comment-form" class="clear">           

</div>
