/* Base styles, from Hot Ink */
html, body { height: 100%; }
body { background-color: #FFF; color: #333; margin: 0 auto; padding: 0 10px;}
body, p, ol, ul, td { font-family: "lucida grande", verdana, arial, helvetica, sans-serif; font-size: 13.34px; line-height: 1.3; }
#page h1 { float: left; margin: 10px 0; clear: right; font-size: 3em; font-weight: normal; font-family: georgia, "Times New Roman", times, serif; font-style: italic; color: #AAA; }
.flash { float: right; margin: 0; margin-right: 10px; clear: right; }
.flash p { margin: 5px;}

.translucent  {
		filter: alpha(opacity=75); /* internet explorer */
		-khtml-opacity: 0.75;      /* khtml, old safari */
		-moz-opacity: 0.75;       /* mozilla, netscape */
		opacity: 0.75;           /* fx, safari, opera */
}
.transparent  {
		filter: alpha(opacity=40); /* internet explorer */
		-khtml-opacity: 0.40;      /* khtml, old safari */
		-moz-opacity: 0.40;       /* mozilla, netscape */
		opacity: 0.40;           /* fx, safari, opera */
}

/* Dashboard style */

#dashboard h1 { margin: 5px 0; clear: left; }
#dashboard>h2 { float: left;}
#dashboard h2 { text-decoration: underline; margin: 0; margin-top: 10px; font-size: 1.25em; }
#dashboard .options { float: left; width: 755px; text-align: right; padding-top: 18px; }
#dashboard .guide { width: 240px; margin-right: 10px; float:left; clear: left;}
#dashboard #control_panel { width: 693px; float:left;clear:right; border-left: 1px solid #999; padding-left: 15px;}
#dashboard #control_panel h2 { font-family: georgia, "Times New Roman", times, serif; font-size: 1.7em; text-decoration:none; font-weight: normal; }
#dashboard #control_panel h3 { margin: 5px 0; }
#dashboard #control_panel p { font-size: 0.9em;}
#dashboard #control_panel>div>div { float: left; width: 47.5%; padding: 1%; height: 150px;}
#dashboard #control_panel>div>div+div { margin-left: 1%; }
#dashboard #control_panel select { margin-bottom: 5px; }
#dashboard #current_front_page, #dashboard #current_design { background-color: #DEFFDB;}
#dashboard #change_front_page { background-color: #CEE4F3; }
#dashboard #current_design h1 { float:none; font-size: 1.8em; color: #333; text-decoration: underline; }
#dashboard #current_design p { margin: 5px 0; }
#dashboard div#control_panel div#current_design { height: auto; min-height: 150px; }
#dashboard #change_design { background-color: #FFF6DD; }
#dashboard #design_control { margin-top: 10px; border-top: 1px dotted #333; padding-top: 10px;}


/* Begin publisher styles */
#navigation { width: 100%; float: left; list-style: none; margin: 0; padding-left: 10px; margin-left: -10px; background-color: #FFF6DD; }
#navigation li { float:left; margin: 0.55em 1em 0.5em 0; }
#navigation li.selected { font-weight: bold; }

div#design h1, div#design p.options,
li.design h2, p.options { display: inline; }
p.options { margin-left: 0.5em; }
fieldset.entity { width: 30%; }

/* Generic form styles */
.back_link { float:left; clear: left; margin: 5px 0; }
input[type="text"] { background: none; font-size: 1.1em; padding: 0.1em; border: 1px solid #DEDEDE; background-color: #FDFDFD; color: #555; }
textarea {font-size: 1.1em; padding: 0.1em; border: 1px solid #DEDEDE; background-color: #FDFDFD; color: #555; }
select { min-width: 100px; background: none; font-size: 1.1em; padding: 0.1em; margin-top: 3px; border: 1px solid #DEDEDE; background-color: #FDFDFD; color: #555; }

div.form, div.form div { float: left; }
div.form_element { margin: 5px 0; clear:left; }
input[type="text"].large { width: 20em; font-size: 2em; height: 1.2em; }

#build { background-color:white;width:500px; padding: 10px;}
#build fieldset { border:none;}
#build h1 { margin :5px 0; }

/* Front page builder */
#edit_front_page { float: left; padding-bottom: 10px; }
#front_page_form { float: left; }
#front_page_form h1 { margin-bottom: 20px;}
#front_page_form .name_desc, #front_page_form .button { width: 680px; }
#front_page_form .name_desc input, #front_page_form .name_desc textarea { width: 678px;}
#front_page_form .form_title { clear: left; width: 320px; }
#front_page_form .details { float: left; }
#front_page_name { font-size: 1.8em;  }
#front_page_form .button { text-align: right; width: 100%; float: left; margin-bottom: 5px;}
#front_page_form .loaded_articles { width: 100%; float: left;  }
#front_page_form #articles_list { width: 100%; }
#front_page_form .schema_builder { float: left; width: 290px; }
#front_page_form .schema_builder>p { font-family: georgia,"times new roman",times, serif;}
#front_page_form .schema_builder fieldset { border: 1px solid #DEDEDE; margin-bottom: 10px; }
#front_page_form .schema_builder fieldset.entity { background-color: #FFF6DD; width: 100%; float:left; }
#front_page_form .schema_builder ol { padding-left: 20px; }
#front_page_form .schema_builder li { padding-left: 7px; background: #FDFDFD; margin-bottom: 5px; border: 1px solid #DEDEDE; }
#front_page_form .schema_builder li h1 { float: left; width: 245px; clear:none; margin-top: 2px; margin-bottom: 0; font-size: 1.2em; font-style: normal; color: #333; }
#front_page_form .schema_builder li .article_details { float: left; clear: left; padding-bottom: 5px; font-size: 0.85em; }
#front_page_form .schema_builder li .empty_link { float: right; color: red; text-decoration: none; margin-right: 5px; font-size: 0.9em; }
#front_page_form .schema_builder li.occupied {  }
#front_page_form .schema_builder h2 { margin: 2px 0; }
#front_page_form .schema_builder li>p { font-size: 1.1em;}

#front_page_form .loaded_articles h2 { float: left; margin: 3px 0; margin-top: 10px; margin-right: 10px; }
#front_page_form .loaded_articles h2+p { margin-top: 20px; margin-bottom: 7px; }

#articles_list { list-style: none; padding-left: 5px; }
#articles_list {float: left; clear: both; margin: 0.25em 0; padding-left: 0; list-style-type: none; border: 1px dotted #777; border-top: none; }
#articles_list li { border-top: 1px dotted #777; background-color: #CEE4F3; cursor: default;}
#articles_list li a { margin: 12px 0px; cursor: pointer;}
#articles_list a:visited { color: #555;}
#articles_list a:hover { color: #3399DE;}
#articles_list a:active { color: #333;}
#articles_list li>div { display: inline-block; float: left; vertical-align: top; margin: 0.25em;}
#articles_list li div.date { float: right; width: 9%; color: #515151; font-size: 1.1em; padding: 0.5em 0.2em; text-align:right;}
#articles_list li div.date p { font-size: 0.65em; color: #515151; margin: 0px; margin-top: 8px; font-style:italic; font-family: georgia,"times new roman",times, serif;}
#articles_list li div.icons { float: right; width: 1.0em; height: 1.2em; margin-right: 0; }
#articles_list li.selected_card { background-color: #CDFBDC; }
#articles_list li .article { width: 61%; height: 100%; line-height: 1.2em; background-color: #FFF; border: 1px dotted #9cf;}
#articles_list li .article h1 { float: none; font-style: normal; font-size: 1.2em; line-height: 1.2; margin: 0; padding: 0.25em; color: #666; border-bottom: 1px solid #DDD; vertical-align: middle; font-weight: normal; /* font-style: italic; */ font-family: georgia,"times new roman",times, serif;}
#articles_list li .article div { font-size: .9em; }
#articles_list li .article .article_details { width: 100%; min-height: 24px;}
#articles_list li .article .authors { float: left; padding: 0.5em;}
#articles_list li .article .media { float: right; text-align: right; padding: 0.25em; }
#articles_list li .article .media img{ float: right; margin: 0 0.125em;}
#articles_list li div.section { width: 7.5em; overflow: hidden; background-color: #FFF; padding: 0.5em 0; border: 1px dotted #9cf; }
#articles_list li div.section p { padding: 0px 0px 0px 5px; color: #333; margin: 0;}


/* Page template edit */
#template_form { float: left; }
#template_form h1, #edit_front_page h1, #template_form .details,
.name_desc, #template_form .template_data_info, #template_form .code,
.form_title { float: left;  }
.name_desc { width: auto; margin-left: 5px; }
#template_form .name_desc input, #template_form .name_desc textarea { width: 100%; }
#template_form h1 { margin: 5px 0; }
#template_form .name_desc { width: 240px; }
#template_form .form_title { clear: left; width: 315px; }
#template_form .template_data_info { width: 386px; height: 60px; margin-left: 15px; border-left: 1px solid #999; padding-left: 15px; }
#template_form .form_title select {  width: 100%; background: none; font-size: 1.1em; padding: 0.1em; margin-top: 3px; border: 1px solid #DEDEDE; background-color: #FDFDFD; color: #555; }
#template_form .name_desc input { margin-bottom: 10px; }
#template_form .template, #template_form .layout { float: left; width: 47%; margin-right: 3%; }
#template_form .entity_definitions { float:left; width: 98%; border: 1px solid #DEDEDE; margin: 15px 0 2% 0; }
#template_form .entity_definitions .entity { float: left; width: 26%; margin: 5px 0.5%; }
#template_form .code { clear: left; margin: 5px 0; width: 98%; margin-right: 2%; }
#template_form .button { text-align: right; width: 98%; margin-right: 2%;float: left; margin-bottom: 5px; }

#template_form .code textarea { border-color: #999; width: 100%; margin-top: 3px; line-height: 1.35; color: black; font-family: courier, monospace, sans-serif; }
.edit_page_template input, .edit_page_template textarea { color: #333; }

/* Front Page index */
#front_page_index { float: left; clear: left; }
#front_page_index ol { list-style: none; padding-left: 0; }
#front_page_index li.current { background-color: #DEFFDB;}
#front_page_index li { padding: 5px; }
#front_page_build_form { }

/* Design form */
#design_form, #design_form p, #design_form input[type="text"], #design_form textarea { width: 620px; }
#design_form h1  { clear: none; }
#design_form p { line-height: 1.4; width: 100%; clear:both; }
#design_form input[type="text"], #design_form textarea { }

/* Design index */
#design_index, #design_index ul { width: 700px; clear:left; float: left; }
#design_index h1 { clear: left; margin-right: 20px;  }
#design_index a.btn { margin-top: 29px; }
#design_index p { width: 30em; line-height: 1.4; clear:left; }

/* Design show */
#design { float: left; width: 100%; }
#design h1 { margin: 5px 0; clear: left; }
#design>h2 { float: left;}
#design h2 { text-decoration: underline; margin: 0; margin-top: 10px; font-size: 1.25em; }
#design h3 { float: left; }
#design .options {  float: left; width: 755px; text-align: right; padding-top: 18px;}
#design .options .default_layout { margin-right: 10px;}
#design .options .default_layout form { display: inline;}
#design .description { width: 240px; margin-right: 10px; float:left; clear: left;}
#design #templates { width: 600px; float:left;clear:right; border-left: 1px solid #999; padding-left: 15px;}
#design #templates h2 { margin-bottom: 10px; }
#design #templates a.btn { margin-top: 8px; margin-left: 10px; } 
#design #templates>div { float:left; clear: both; width: 100%; }
#design #templates>div h3 { margin: 7px 0; font-size: 1.1em; }
#design #templates>div+div { border-top: 1px dotted #333; margin-top: 10px; padding-top: 10px;}
#design #templates ul { float: left; margin: 0; width: 100%; padding-left: 0; list-style: none; }
#design #templates ul li { float: left; width: 98%; padding: 5px; }
#design #templates ul li+li { border-top: 1px solid #999;}
#design #templates ul li a { float: left; }
#design #templates ul li a.kill_link { color: red; float:right;}
#design #templates ul li .last_updated { float: right; margin-right: 7px; color: #515151; font-size: 0.9em; padding-top: 0.15em; }
#design #templates ul li.layout { background-color: #CEE4F3; }
#design #templates ul li.partial {background-color: #FFF6DD; }
#design #templates ul li.page_template {background-color: #DEFFDB; }
#design #templates ul li.front_page_template { background-color: #FFDBDB }

/* Overlay css */

#overlay{ position: absolute; top: 0; left: 0; z-index: 900; width: 100%; height: 500px; background-color: #000; }
#overlaybox{ position: absolute; left: 0; width: 100%; z-index: 1000; text-align: center; }
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0;}
#overlay_container{ position: relative; width: 250px; height: 250px; background-color: #fff; margin: 0 auto;}
#overlay_content { width: auto; margin-bottom: 0; text-align: left; padding: 5px; background-color: #fff; border: 1px solid #515151;}

/* Modal window styles */

.close_button  { float: right; background-image: url('/images/token_x_red.gif'); width: 10px; height: 10px; margin: 0; margin-right: 0.125em; display: inline-block; font-size: 1em; }
.close_button a { color: #FFF; display: inline-block; width: 100%;height: 100%;}
div.small_top_button { display: block; position: relative; top: -13px; left: 17px; clear:left; float: right; height: 0px; overflow: visible; }
div.small_top_button a { padding: 5px; }
div.small_top_button a img { width: 18px; border: none; }

/* Clearfix */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix {display: block;}

/* Start of custom button CSS
---------------------------------------- */
.btn { display:inline-block !important; background:none; margin:0; padding:3px 0; border-width:0; overflow:visible; font:100%/1.2; text-decoration:none; color:#333; }
* html button.btn { padding-bottom:1px; }
.btn span { background:#ddd url('/images/bg-button.gif') repeat-x 0 0; margin:0; padding:3px 0; border-left:1px solid #bbb; border-right:1px solid #aaa; }
* html .btn span {  padding-top:0; }
.btn span span { position:relative; padding:3px .4em; border-width:0; border-top:1px solid #bbb; border-bottom:1px solid #aaa; }
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span { cursor:pointer; border-color:#9cf !important; color:#000; }
.btn:active span { background-position:0 -400px; outline:none; }
.btn:focus, .btn:active { outline:none; /* doesn't seem to be respected for <button>, only <a> */ }
 
/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
.pill-l span { border-right-width:0; }
.pill-l span span { border-right:1px solid #bbb; }
.pill-c span { border-right-style:none; border-left-color:#fff; }
.pill-c span span { border-right:1px solid #bbb; }
.pill-r span { border-left-color:#fff; }

/* tab classes only needed if using tab style buttons ( TOP | BOTTOM ) */
.tab-t { padding: 1px 0px; }
.tab-t span { border-bottom: 1px solid #DEDEDE; }
.tab-t span span { border-bottom-width:0; padding: 1px .4em; }

.tab-b { padding: 1px 0px; }
.tab-b span { border-top: 1px solid #DEDEDE; } 
.tab-b span span { border-top-width:0; padding: 1px .5em; }

/* use if one button should be the 'primary' button */
.primary { font-weight:bold; color:#000; }
	
/* Save buttons use a blue background, as opposed to a grey one.*/
.save { color: #FFF; }
.save:hover span, .save:hover span span, .save:focus span, .save:focus span span  { color: #CCC; }
.save:active span { background-position:0 -398px; outline:none; }
.save span{ background:#699DE3 url('/images/bg-button-blue.gif') repeat-x 0 0; }
	
/* Cancel buttons use a red background, as opposed to a grey one.*/
.cancel { color: #FFF; }
.cancel:hover span, .cancel:hover span span, .cancel:focus span, .cancel:focus span span{ color: #CCC; }
.cancel:active span { background-position:0 -395px; color: #FFF; outline:none; }
.cancel span{ background:#E62424 url('/images/bg-button-red.gif') repeat-x 0 -4px; }
	
.selected span { color:#FFF; background-image: none; background-color:  #6A6A6A;/*#75AAF1;*/ }
.selected:hover span, .selected:hover span span, .selected:focus span, .selected:focus span span { cursor:pointer; border-color:#9cf !important; color:#FFF; }

.publish { color: white; }
.publish span, .publish span span { border-color:#999 !important; }
.publish:hover span, .publish:hover span span, .publish:focus span, .publish:focus span span{ color: #EEE; border-color:#9cf !important;}
.publish:active span { color: #FFF; outline:none; background-position:0 -398px;}
.publish span{ background: #00af2e url('/images/bg-button-green.gif') repeat-x 0 0px; }


/* Button size classes */
.larger { font-size: 1.2em; line-height: 1.1; }
.large { font-size: 1em; line-height: 1.2em; }
.large:active span{ background-position:0 -390px;}
.small { font-size: 0.85em; line-height: 1; }
.small span{ background-position: 0px -3px; }
.tiny { font-size: 0.775em; line-height: 1;  }
.micro { font-size: 0.75em; line-height: 1em; }
	
/* End of custom button CSS
---------------------------------------- */


.footer { float:left; width: 960px; margin-top: 20px; text-align: right; font-size: 0.8em;}


