<h3>Event calendar for week of April 5</h3>
<ul>
<li>Lecture: Explaining Religion</li>
<li>Anne Michaels in Conversation With Seamus O'regan</li>
<li>Spring Bike Tune-Up</li>
</ul>
<a href="http://www.thevarsity.ca/listings">Full Calendar</a>
