<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>


<link href="http://thevarsity.ca/feed.xml" rel="alternate" title="RSS" type="application/rss+xml" />

	

	

	<%= theme_stylesheet_link_tag "Blueprint 0.7.1/blueprint/plugins/fancy-type/screen.css" %>
	<%= theme_stylesheet_link_tag "Blueprint 0.7.1/blueprint/screen.css" %>		
	<%= theme_stylesheet_link_tag "varsity.css" %>

	
	<%= javascript_include_tag :defaults %>
	<%= fb_connect_javascript_tag %>
	
	<!-- javascript_include_tag 'varsity/lightbox.js'%>	 -->
	
	<!--[if lte 6]>
		<%= theme_stylesheet_link_tag "Blueprint 0.7.1/blueprint/ie.css" %>
	<![endif]-->	

	<script type="text/javascript">
	  // Load jQuery
	  // google.load("jquery", "1");
	  // google.load("jqueryui", "1");	
	</script>

    <% unless @article.nil? or @article.title.nil? %>
        <meta name="title" content="theVARSITY.ca - <%= @article.title %>"/>
    <% end %>

    <% unless @article.nil? or @article.subtitle.nil? %>
        <meta name="description" content="<%= @article.subtitle %>"/>
    <% end %>
    


</head>

<body>


<div id="container" class="container">
	
<div id="top" class="span-10">	
	
	<div id="ad-leaderboard" class="ad span-10">
		
	
		
         <!-- link_to image_tag("images//leaderboardAd.jpg", :border=>0), :action=>:index %>		 -->
	    <div id="banner-ad" style="margin-top: 7px">

	    </div>


	</div>


    <div id="masthead" class="span-6">
        <%= link_to image_tag(theme_image_path("masthead.png"), :border=>0), :action=>:index %> <br/>

		<div id="menu">
			<% @menu_entries = ["news", "comment", "arts", "science", "sports", "features"] %>
			<% for @menu_entry in @menu_entries %>
<%= link_to image_tag(theme_image_path("menu-#{@menu_entry}.gif"), :border=>0), :action=>:section, :id => @menu_entry %>
			<% end %>
			<%= link_to image_tag(theme_image_path("menu-magazine.gif"), :border=>0), :action=>:issues, :type => "special" %>
			<%= link_to image_tag(theme_image_path("menu-blogs.gif"), :border=>0), :action=>:blogs %>		
		</div>
    </div>

	<div class="span-4 last">
				<%= render :partial=>"searchbox" %>
	</div>
</div>


<div id="bottom">
	
	<div class="span-6 content">
      {{ content_for_layout }}
	</div>

	<div id="sidebar" class="span-4 last">
		{% include 'layouts/sidebar' %}
	</div>

</div>

<div id="footer" class="clear span-11">

	{% include 'layouts/footer' %}

</div> 

</div>


</body>

</html>
