<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>


<link href="http://thevarsity.ca/feed.xml" rel="alternate" title="RSS" type="application/rss+xml" />

<link rel="StyleSheet" href="{% themeitem %} varsity.css {% endthemeitem %}" />
<link rel="StyleSheet" href="{% themeitem %} Blueprint 0.7.1/blueprint/plugins/fancy-type/screen.css {% endthemeitem %}" />
<link rel="StyleSheet" href="{% themeitem %} Blueprint 0.7.1/blueprint/screen.css {% endthemeitem %}" />

<!--[if lte 6]>
	<link rel="StyleSheet" href="{% themeitem %} Blueprint 0.7.1/blueprint/ie.css {% endthemeitem %}" />
<![endif]-->

</head>

<body>





<div id="container" class="container">
	
<div id="top" class="span-10">	
	
	<div id="ad-leaderboard" class="ad span-10">
		
	
		
         <!-- link_to image_tag("images//leaderboardAd.jpg", :border=>0), :action=>:index %>		 -->
	    <div id="banner-ad" style="margin-top: 7px">

	    </div>


	</div>
	
	    <div id="masthead" class="span-6">
		<img src="{% themeitem %} masthead2.png {% endthemeitem %}" />

		 {% for section in newspaper.sections %}
		<ul>
			<li>{{4 | link_to_article}}</li>
		</ul>
		{% endfor %}

	    </div>

		<div class="span-4 last">
			{% include 'layouts/searchbox' %}
		</div>



</div>


<div id="bottom">
	
	<div class="span-6 content">
      {{ content_for_layout }}
	</div>

	<div id="sidebar" class="span-4 last">
		{% include 'layouts/sidebar' %}
		
	</div>

</div>

<div id="footer" class="clear span-11">

	{% include 'layouts/footer' %}

</div> 

</div>


</body>

</html>
