<div class="span-2" style="">
	<!-- <img src="images/logo-small.gif"> -->
</div>

<div class="span-2" style="">
<h3>Sections</h3>
<ul>
	<li><a href="/News">News</a></li>
	<li><a href="/Comment">Comment</a></li>
	<li><a href="/Science">Science</a></li>
	<li><a href="/Arts">Arts</a></li>
	<li><a href="/Sports">Sports</a></li>				
</ul>
</div>


<div class="span-2" style="">
	<h3>Online</h3>
	<ul>
      <li><a href="/view/issues?type=special">Features</a></li>      
      <li><a href="/blogs">Blogs and Podcasts</a></li>		
	</ul>
</div>

<div class="span-2" style="">

	<ul>
	
		<li><a href="/masthead">Masthead</a></li>
		<li><a href="/view/issues">Issues</a></li>
		<li><a href="/advertise">Advertise with the Varsity</a></li>
		<li><a href="/classifieds">Classifieds</a></li>

		<li><a href="/letters">Letters to the editor</a></li>
		<li><a href="/volunteer">Write for the Varsity</a></li>
	</ul>
	</div>	
<div class="clear"></div>		
</div>
