<div id="design_form" class="form clearfix">
	<p class="back_link"><%= link_to '&laquo; Back to pages', account_pages_path(@account) %></p>
	<h1>Edit static page</h1>

	<% form_for([@account, @page]) do |f| %>
	  <%= f.error_messages %>
		<%= render :partial => "form", :locals => { :f => f } %>
	<% end %>
</div>