<div id="build" style="background-color:white;width:400px;" class="clearfix">
	<h1>New front page</h1>
	<% form_tag new_account_front_page_path(@account), :method => :get do %>
	<fieldset>	
		<p>Which template will this front page be based on?</p>
		<%= select_tag "template", option_groups_from_collection_for_select(@account.designs, :front_page_templates, :name, :id, :name, @account.current_design&&@account.current_design.default_front_page_template ? @account.current_design.default_front_page_template.id : nil) %>
		<%= submit_tag "Build" %>
	</fieldset>
	<% end %>
</div>