<div id="build" class="clearfix">
	<h1>New front page</h1>
		<fieldset id="front_page_build_form">	
			<% form_tag account_front_pages_path(@account) do %>
				<p>Which template should your new front page be based on?</p>
				<%= select_tag "template", option_groups_from_collection_for_select(@account.designs, :front_page_templates, :name, :id, :name, @account.current_design&&@account.current_design.default_front_page_template ? @account.current_design.default_front_page_template.id : nil) %>
				<%= button_link_to_submit "Build" %>
			<% end %>
		</fieldset>
</div>