<h1>New Front Page</h1>

<%- if @account.templates.blank? -%>
	<%- if @account.current_design -%>
		<p>You don't have any templates yet, <%= link_to "create your first", new_account_design_template_path(@account, @account.current_design) %>.</p>
	<%- else -%>
	<% form_for([@account, @front_page]) do |f| %>
	  	<%= render :partial => "form", :locals => { "f" => f } %>
	<% end %>
	<%- end -%>
<%- end -%>

<%= link_to 'Back', account_front_pages_path(@account) %>