<fb:profile-pic uid="571036092" facebook-logo="true" linked="true" width="40" height="40"></fb:profile-pic>
<fb:name uid="571036092"></fb:name>
<p><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></p>

