body.colourized .container_16 { border: 1px solid #CCC; border-width: 0px 1px;}

body.colourized,
body.colourized ol#categories li.current, 
body.colourized ol#subcategories, 
body.colourized .label_bar { background-color: #DBDCC6; }

body.colourized .container_16,
body.colourized div.media img,
body.colourized div.teaser_10_tall .media img,
body.colourized div.teaser_10_wide .media img,
body.colourized div.teaser_4.alpha,
body.colourized div.teaser_6.alpha,
body.colourized .widget,
body.colourized hr,
body.colourized #footer { border-color: #784a56; }

body.colourized a,
body.colourized div.container_16 div.teasers div h1, 
body.colourized div.container_16 div#rightcolumn div h1, 
body.colourized div.container_16 div#rightcolumn div h4, 
body.colourized div.container_16 div#rightcolumn div#latest_issue h2, 
body.colourized ol#categories li:hover,
body.colourized .indicators .current { color: #2d030e; }
