/*

thefulcrum.ca design styles

This document contains the overall structural styles for thefulcrum.ca 
but excludes general typography, type styles are found in text.css.

Copyright 2009 - Chris Dinn/HotInk.net

*/

.container_16 { background-color: white; padding: 5px 10px 0px 20px; }

ul.pages { text-align: right; list-style:none; margin-bottom: 0px; }
ul.pages li { display: inline; }

#nameplate { margin: 0; }

#logo { float: left; }
#logo img{ margin:0; width: 270px;}

ol#subcategories { margin: 0; background-color: #E9E9E9; } 
ol#categories { margin-top: 69px; margin-left: -10px; margin-bottom: 0; }
ol#categories, ol#subcategories {  list-style: none;  }
ol#categories li, ol#subcategories li { display: inline; margin: 0; padding: 0.25em 0.5em; }
ol#categories li { margin-right: 12px; }
ol#categories li.current { background-color: #E9E9E9; }
ol#subcategories li { line-height: 1.7; }
ol#subcategories li.current { background-color: white; }

.info {  margin-bottom: 5px; }
.info hr {  z-index: 1; margin: 0; position: relative; top: 12px;}
.info>.section, .info>.date, .info>.comments { z-index: 2; position: relative; }
.info>.section, .info>.date { float: left; }
.info>.section { padding-right: 3px; }
.info>.date { padding-left: 3px; padding-right: 3px; margin-left: 0.45em; }
.info>.comments { padding-left: 4px; float: right; }
.info>.comments img { position: relative; top: 3px; }

/* General styles
-------------------------------*/
div.container_16 div.teasers div h1,
div.container_16 ol.article_list h1 { cursor:pointer; }
div.container_16 div.teasers div h1:hover,
div.container_16 ol.article_list h1:hover { color: #515151; }

div.media img { border: 1px solid #515151;}
div.article div.media { margin-right: 0;}
div.article div.media small { display: block; }
div.article div.media p {  margin-top: 5px; margin-bottom: 10px; }

/* Tab window
-------------------------------*/

.tab { cursor: pointer; }
.tab_window {  }

/* Teasers
-------------------------------*/
div.teasers { margin-left: 0; }

div.teaser_10_tall { margin: 0; }
div.teaser_10_tall, div.teaser_10_tall h1, div.teaser_10_tall h2, div.teaser_10_tall .byline { margin-bottom: 10px; }
div.teaser_10_tall p { margin-bottom: 10px; }
div.teaser_10_tall .media { float: right; }
div.teaser_10_tall .media img { border: 1px solid #515151; }
div.teaser_10_tall .media small {display: block; float: right; position: relative; top: -9px; height: 9px; }
div.teaser_10_tall .media p { margin-top: 9px}

div.teaser_10 { margin: 0; }
div.teaser_10, div.teaser_10 h1, div.teaser_10 h2, div.teaser_10 .byline { margin-bottom: 10px; }
div.teaser_10 p { margin-bottom: 10px; }

div.teaser_10_wide { margin: 0; padding-bottom: 10px; }
div.teaser_10_wide, div.teaser_10_wide h1, div.teaser_10_wide h2, div.teaser_10_wide .byline { margin-bottom: 10px; }
div.teaser_10_wide p { margin-bottom: 10px; }
div.teaser_10_wide .media { float: left; }
div.teaser_10_wide .media img { border: 1px solid #515151; }
div.teaser_10_wide .media small {display: block; float: right; position: relative; top: -9px; height: 9px; }
div.teaser_10_wide .media p { margin-top: 9px}

div.teaser_4, .teaser_4 h1, div.teaser_4 h2, div.teaser_4 .byline { margin-bottom: 10px; }
div.teaser_4 p { margin-bottom: 10px; }
div.teaser_4.alpha { margin-right: 0; padding-right: 9px; border-right: 1px solid #D4D4D4;}

div.teaser_6, .teaser_6 h1, div.teaser_6 h2, div.teaser_6 .byline { margin-bottom: 10px; }
div.teaser_6 p { margin-bottom: 10px; }
div.teaser_6.alpha { margin-right: 0; padding-right: 9px; border-right: 1px solid #D4D4D4;}
div.teaser_6 .media { float: right; margin-right: 0; }
div.teaser_6 .media small {display: block; float: right; position: relative; top: -9px; height: 9px; }
div.teaser_6 .media p { margin-top: 9px}

div#sections { margin: 10px 0; margin-bottom: 10px; padding-top: 10px; border-top: 1px solid #D4D4D4;}
div#sections .section .label_bar { background-color: white;}
div#sections .section .label_bar>h3 { padding-left: 0; width: 100%; }
div#sections .section ol { float: left; list-style: none; padding: 0; }
div#sections .section ol li { margin-left: 0; padding-top: 0; }

/*--------------------------------------*/

.teasers, #rightcolumn, .article { margin-top: 1em; }
.widget { border: 1px solid #D4D4D4; margin-bottom: 1em; margin-left: 0; margin-right: 0; }
.label_bar { background-color: #F0F0F0; }
.label_bar>h3 { float: left; margin: 0; padding: 5px 10px;}

.controls button { background: none; border: none; margin: 0; cursor: pointer;}
.controls button:hover { color: blue; }
.indicators button { margin: 0 -5px; font-size: 15px; }
.indicators { margin-left: -4px; margin-right: -4px; cursor: default; color: #AAA;display: inline-block; position: relative; top: 1px; }
.indicators span { cursor: pointer; }
.indicators .current { color: #ccc;}

#search { margin: 0 1.5em; margin-bottom: 1em; text-align: right;}
#search input[type="text"] { border: 1px solid #D4D4D4; width: 62%; padding: 6px 3px; margin: 0 0.25em; }
#search label { vertical-align: middle;}

#latest_issue div+div { text-align: right; }
#latest_issue div+div h2, #latest_issue div+div p { padding: 5px; }
#latest_issue img { margin: 5px; margin-bottom: 0; border: 1px solid #D4D4D4; }

#featured_articles { overflow: hidden; }
#featured_articles .controls { float:right; padding: 0 0.25em; position: relative; top: 4px; text-align: right; padding-right: 10px;}
#featured_articles li { margin:0; }
#featured_articles li h1, #featured_articles li p { margin-bottom: 10px; }
#featured_articles li p { width: 70%; }
#featured_articles .feature { min-height: 150px; padding: 5px; margin: 5px;  }
#featured_articles .feature .info { }
#featured_articles .feature .media.right { float: right; margin-left: 10px; margin-right: 0; }
#featured_articles .feature .media.left { float: left; height: 100%; margin-left: 0; margin-right: 5px; }
#featured_articles .feature .media.left+h1+p { margin-left: 110px; }

#popular_listings .label_bar>h3+h3 { border: 1px solid #D4D4D4; border-width: 0px 1px; }

.article_list h1, ol#most_popular .byline { margin: 0; margin-top: 0.25em; }
.article_list { padding-top: 5px; padding-left: 5px; margin-bottom: 10px; }
.article_list li { padding-top: 5px;}
.article_list .byline, .article_list .date { display: inline-block; }
.article_list .byline { padding-right: 0.5em; border-right: 1px solid #D4D4D4; margin-right: 0.5em; }

/* Article */

div.article div.media { float: right; }

/*Footer*/
#footer { margin:0; border-top: 1px solid #D4D4D4; }
#footer p {float:right; margin-bottom: 0px;}
#footer ul.pages { float: left; cursor: pointer; }
#footer ul.pages li { margin-left: 0; margin-right: 10px; }
#footer ul.pages li:hover { text-decoration: underline; }